---
import { Image } from "astro:assets";
import slothMediaLogo from "@images/slothmedia-logo.png";
import Hamburger from "../Hamburger/Hamburger.astro";
import Navigation from "../Navigation/Navigation.astro";

import styles from "@components/Header/Header.module.css";
---

<header class={styles.mainHeader}>
	<div class={styles.headerInner}>
		<div class={styles.headerDiv}>
			<a href="/" title="Go to landing page" class={styles.logoLink}>
				<Image
					src={slothMediaLogo}
					alt="Slothmedia logotype"
					width={40}
					height={40}
				/>
			</a>
			<h1 class={styles.siteTitle}>
				<a href="/" title="Go to landing page">Slothmedia</a>
			</h1>
		</div>
		<nav aria-label="Main navigation">
			<Hamburger />
			<Navigation />
		</nav>
	</div>
</header>
